body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}
.two-side {
  background-image: url(images/header-bg.png);
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  font-size: 20px;
  background-image: linear-gradient(#eb548c, #ec4f75);
  color: whitesmoke;
  padding: 15px;
  border-radius: 9px;
}
h1 {
  font-size: 42px;
  color: #ec507a;
  font-weight: bolder;
}
h3 {
  font-size: 32px;
}
img {
  width: 60%;
  height: auto;
}
p {
  font-size: 18px;
  color: dimgray;
}
